html, body, div, span, applet, object, iframe,

h1, h2, h3, h4, h5, h6, p, blockquote, pre,

a, abbr, acronym, address, big, cite, code,

del, dfn, em, img, ins, kbd, q, s, samp,

small, strike, strong, sub, sup, tt, var,

b, u, i, center,

dl, dt, dd, ol, ul, li,

fieldset, form, label, legend,

table, caption, tbody, tfoot, thead, tr, th, td,

article, aside, canvas, details, embed,

figure, figcaption, footer, header, hgroup,

menu, nav, output, ruby, section, summary,

time, mark, audio, video {

  margin: 0;

  padding: 0;

  border: 0;

  font-size: 100%;

  font: inherit;

  vertical-align: baseline;

  

}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,

footer, header, hgroup, menu, nav, section {

  display: block;

}

body {

  line-height: 1.3;

  background-color: #CFD8DC;

  margin: 7px;

  background-size: cover;

}

ol, ul {

 margin-left:2em;

}

blockquote, q {

  quotes: none;

}

blockquote:before, blockquote:after,

q:before, q:after {

  content: '';

  content: none;

}



.global {

	max-width: 90%;

	display: inline-block;



	padding: 15px;

	padding-left: 30px;

	padding-right: 30px;



	text-align: center;

	font-size: 18px;

	font-family: "Tahoma","RobotoDraft","Roboto",sans-serif;

	font-weight:bold;

	line-height: 2em;



	color: #455A64;

	background-color: #ECEFF1;

}





table {

  border-collapse: collapse;

  border-spacing: 0;

  width: 100%;

  background-color: #607D8B;

  color: white;

}



table, th, td {

    border: 1px solid black;

}



tr:nth-child(even) {

	background-color: #B0BEC5;

}



th{

	padding:5px;

	vertical-align: center;

}



td{

	color: #37474F;

	font-weight: normal;

	padding:5px;

	background-color: #CFD8DC;

}



.header{

	font-size: 22px;

	padding:10px;

	margin-left:20px;

	margin-top:10px;

}



img.avatar{

	max-width: 256px;

	height: auto;

	

}

.centered-text{

	text-align:center;

}



img.inline {

	float: left;

	font-size: 14px;

	font-weight: normal;

}



a.button{

	-webkit-appearance: button;

    -moz-appearance: button;

    appearance: button;



    text-decoration: none;

    border-width: 1;

    border-style: solid;

    padding: 10px;

    padding-top: 5px;

    padding-bottom: 5px;

    color: inherit;

    background-color: #CFD8DC;

}